* {
	margin:0;
	padding:0;
}

body {
	font: 1em "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        background:#ccc;
}

h2{ 
	margin-bottom:10px;
}

#wrapper{
	width:720px;
	margin:40px auto 0;
}

#wrapper h1{
	color:#2E2E2E;
	margin-bottom:10px;
}

#wrapper a{
	font-size:1.2em;
	color:#108DE3;
	text-decoration:none;
	text-align:center;
}

#tabContainer {
	width:700px;
	padding:15px;
	background-color:#2e2e2e;
	-moz-border-radius: 5px;
	border-radius: 5px; 
}

#tabs{
	height:30px;
	overflow:hidden;
}

#tabs > ul{
	font: 1em;
	list-style:none;
}

#tabs > ul > li{
	margin:0 2px 0 0;
	padding:7px 10px;
	display:block;
	float:left;
	color:#FFF;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius:5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px; 
	background: #C9C9C9; /* old browsers */
	background: -moz-linear-gradient(top, #0C91EC 0%, #257AB6 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0C91EC), color-stop(100%,#257AB6)); /* webkit */
}

#tabs > ul > li:hover{
	background: #FFFFFF; /* old browsers */
	background: -moz-linear-gradient(top, #FFFFFF 0%, #F3F3F3 10%, #F3F3F3 50%, #FFFFFF 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(10%,#F3F3F3), color-stop(50%,#F3F3F3), color-stop(100%,#FFFFFF)); /* webkit */
	cursor:pointer;
	color: #333;
}

#tabs > ul > li.tabActiveHeader{
	background: #FFFFFF; /* old browsers */
	background: -moz-linear-gradient(top, #FFFFFF 0%, #F3F3F3 10%, #F3F3F3 50%, #FFFFFF 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(10%,#F3F3F3), color-stop(50%,#F3F3F3), color-stop(100%,#FFFFFF)); /* webkit */
	cursor:pointer;
	color: #333;
}

#tabscontent {
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 0px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px; 
	padding:10px 10px 25px;
	background: #FFFFFF; /* old browsers */
	background: -moz-linear-gradient(top, #FFFFFF 0%, #FFFFFF 90%, #e4e9ed 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(90%,#FFFFFF), color-stop(100%,#e4e9ed)); /* webkit */
	margin:0;
	color:#333;
}

button.css3button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #171717;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#e6e6e6 0%,
		#a3a3a3);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#e6e6e6),
		to(#a3a3a3));
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #d6d6d6;
	-moz-box-shadow:
		0px 0px 0px rgba(000,000,000,0),
		inset 0px 0px 0px rgba(255,255,255,0);
	-webkit-box-shadow:
		0px 0px 0px rgba(000,000,000,0),
		inset 0px 0px 0px rgba(255,255,255,0);
	box-shadow:
		0px 0px 0px rgba(000,000,000,0),
		inset 0px 0px 0px rgba(255,255,255,0);
	text-shadow:
		0px 0px 0px rgba(107,107,107,0),
		0px 1px 0px rgba(255,255,255,0.3);
}

    input { 

            border: 1px solid #818185; 
            -moz-border-radius: 5px;
            border-radius: 5px;
            height:30px;
            width:170px;
            padding-left:8px;
            padding-right:8px;
}

.logs {
    -moz-border-radius-topleft: 5px; 
    border-top-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px; 
    border-bottom-left-radius: 5px;
    -moz-border-radius-topright: 5px; 
    border-top-right-radius: 5px;
    -moz-border-radius-bottomright: 5px; 
    border-bottom-right-radius: 5px;
    background: #000000;
    color: #ffffff;
    padding-left: 14px; 
    width: 650px; 
    }

.logs_frame {
    -moz-border-radius-topleft: 5px; 
    border-top-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px; 
    border-bottom-left-radius: 5px;
    -moz-border-radius-topright: 5px; 
    border-top-right-radius: 5px;
    -moz-border-radius-bottomright: 5px; 
    border-bottom-right-radius: 5px;
    background: #000000;
    color: #ffffff;
    width:100%; 
    height:400px;
}

.files {
    -moz-border-radius-topleft: 5px; 
    border-top-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px; 
    border-bottom-left-radius: 5px;
    -moz-border-radius-topright: 5px; 
    border-top-right-radius: 5px;
    -moz-border-radius-bottomright: 5px; 
    border-bottom-right-radius: 5px;
    background: #000000;
    color: #ffffff;
    padding-left: 14px; 
    width: 650px; 
    }

.files_frame {
    -moz-border-radius-topleft: 5px; 
    border-top-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px; 
    border-bottom-left-radius: 5px;
    -moz-border-radius-topright: 5px; 
    border-top-right-radius: 5px;
    -moz-border-radius-bottomright: 5px; 
    border-bottom-right-radius: 5px;
    background: #000000;
    color: #ffffff;
    width:100%; 
    height:200px;
}

.dbs {
    -moz-border-radius-topleft: 5px; 
    border-top-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px; 
    border-bottom-left-radius: 5px;
    -moz-border-radius-topright: 5px; 
    border-top-right-radius: 5px;
    -moz-border-radius-bottomright: 5px; 
    border-bottom-right-radius: 5px;
    background: #000000;
    color: #ffffff;
    padding-left: 14px; 
    width: 650px; 
    }

.dbs_frame {
    -moz-border-radius-topleft: 5px; 
    border-top-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px; 
    border-bottom-left-radius: 5px;
    -moz-border-radius-topright: 5px; 
    border-top-right-radius: 5px;
    -moz-border-radius-bottomright: 5px; 
    border-bottom-right-radius: 5px;
    background: #000000;
    color: #ffffff;
    width:100%; 
    height:200px;
}

.settings_frame {
    width:100%; 
    height:605px;
}

.settings input {

            border: 1px solid #818185; 
            -moz-border-radius: 5px;
            border-radius: 5px;
            height:30px;
            width:250px;
            padding-left:8px;
            padding-right:8px;

}

#logout {
position:relative;
float:right;
padding-top:10px;
}

.dev_by {
color: #708090;
text-align:right;
padding-top:10px;
}

#dev_by a{

	color:#FFF;
	text-decoration:none;
        font-size:16px;
}

.version_info {
color: #6D6D6D;
display:inline;
font-size:.5em;
}

/* Styles for Tooltips */

  .ui-tooltip, .arrow:after {
    background: #2E2E2E;
    border: 1px solid white;
  }
  .ui-tooltip {
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    font: 14px "Helvetica Neue", Sans-Serif;
    box-shadow: 0 0 7px black;
  }
  .arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
  }
  .arrow.top {
    top: -16px;
    bottom: auto;
  }
  .arrow.left {
    left: 20%;
  }
  .arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px black;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    tranform: rotate(45deg);
  }
  .arrow.top:after {
    bottom: -20px;
    top: auto;
  }

#files_continuous {
width:300px;
        margin-right:25px;
}

#files_weekly {
width:300px;
        margin-right:25px;
}

#databases_continuous {
width:300px;
}

#databases_weekly {
width:300px;
}

    .alldivs {
        display: inline-block;
    }

.cause_fix {
font-weight:bold;
font-size:1.1em;
}
